<h2>New User</h2>
<div>
    <label>Id:
        <input [(ngModel)]="newUser.Id"/>
    </label>
</div>
<div>
    <label>FirstName:
        <input [(ngModel)]="newUser.FirstName"/>
    </label>
</div>
<div>
    <label>LastName:
        <input [(ngModel)]="newUser.LastName"/>
    </label>
</div>
<div>
    <label>Email:
        <input [(ngModel)]="newUser.Email"/>
    </label>
</div>
<div>
    <label>MobileNumber:
        <input [(ngModel)]="newUser.MobileNumber"/>
    </label>
</div>
<div>
    <label>DateOfBirth:
        <input [(ngModel)]="newUser.DateOfBirth"/>
    </label>
</div>
<div>
    <label>Modified:
        <input [(ngModel)]="newUser.Modified"/>
    </label>
</div>
<div>
    <button (click)="saveUser()">Save</button>
</div>