<div>
    <h1>Users</h1>
    <div *ngIf="users !== undefined">
        <table mat-table [dataSource]="users">
            <!-- Id Column -->
            <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef> Id. </th>
                <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
            </ng-container>
            <!-- FirstName Column -->
            <ng-container matColumnDef="FirstName">
                <th mat-header-cell *matHeaderCellDef> FirstName. </th>
                <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
            </ng-container>
            <!-- LastName Column -->
            <ng-container matColumnDef="LastName">
                <th mat-header-cell *matHeaderCellDef> LastName. </th>
                <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
            </ng-container>
            <!-- Email Column -->
            <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef> Email. </th>
                <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
            </ng-container>
            <!-- MobileNumber Column -->
            <ng-container matColumnDef="MobileNumber">
                <th mat-header-cell *matHeaderCellDef> MobileNumber. </th>
                <td mat-cell *matCellDef="let element"> {{element.MobileNumber}} </td>
            </ng-container>
            <!-- DateOfBirth Column -->
            <ng-container matColumnDef="DateOfBirth">
                <th mat-header-cell *matHeaderCellDef> DateOfBirth. </th>
                <td mat-cell *matCellDef="let element"> {{element.DateOfBirth}} </td>
            </ng-container>
            <!-- Modified Column -->
            <ng-container matColumnDef="Modified">
                <th mat-header-cell *matHeaderCellDef> Modified. </th>
                <td mat-cell *matCellDef="let element"> {{element.Modified}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div *ngIf="users == undefined">
        <h2>Error no data</h2>
    </div>
</div>